node_modules/
dist/
out/
*.vsix
.vscode-test/
packages/intellij/build/
packages/intellij/.gradle/
packages/intellij/.intellijPlatform/
.idea/
*.log
.DS_Store
packages/vscode/media/
packages/vscode/LICENSE
packages/vscode/CHANGELOG.md
packages/intellij/screenshots/project/.idea/
